<!DOCTYPE html>
<html>
  <head>
    <title>Prokéymans</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="http://benalman.com/code/projects/jquery-throttle-debounce/jquery.ba-throttle-debounce.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
